# Ignore compiled Python files
*.pyc
__pycache__/
./__pycache__

# Ignore the SQLite database
*.sqlite3

# Ignore local development settings
.gym_scheduler/gym_scheduler/local_settings.py

# Ignore static files
.gym_scheduler/static/


# Ignore IDE-specific files and directories
.gym_scheduler/.idea/
.gym_scheduler/.vscode/

# Ignore any other generated or temporary files/directories
*.swp
.DS_Store
users/__pycache__/models.cpython-310.pyc
users/__pycache__/serializers.cpython-310.pyc
